{% extends 'panel.html' %}

{% block stylesheet %}
<script src="{{ static_url('assets/ckeditor/ckeditor.js') }}"></script>
{% end block stylesheet %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="box box-default">
            <div class="box-header with-border">گزارشات</div>
            <div class="box-body">
                <div class="data">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="_alert_">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times-circle"></i></button>
                <h4 class="modal-title">پیغام</h4>
            </div>
            <div class="modal-body alert_modal_class">
                <p></p>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-danger" data-dismiss="modal" value="بستن">
            </div>
        </div>
    </div>
</div>
{% end block content %}

{% block javascript %}
<script src="{{ static_url('dist/js/bootstrap-datepicker.fa.min.js') }}" type="text/javascript"></script>
<script src="{{ static_url('dist/js/bootstrap-datepicker.min.js') }}" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function(){
        // socket
        ws = new WebSocket("ws://127.0.0.1:8585/websocket");
        bool = false;

        ws.onopen = function () {
            bool = true
        };

        ws.onmessage = function (evt) {
            response = evt.data;
            dict_ = JSON.parse(response);
            $(".data").html(dict_)

        };

        ws.onclose = function () {
            console.log("offline")
        };
        ws.onerror = function () {
            console.log("Error")
        };
    });

</script>
{% end block javascript %}